<% if @search %>
<h2>Searching for: <%= @search %></h2>
<% end %>
  <% if @state == 'solo' %>
<h2>Record # <%= @record_number %></h2>
<%else%>
<div id="paginate_top">
  <% if @state == 'queue' %>
  <%= will_paginate @trailers, :params => {:controller => 'main', :action => 'queue', :format => 'html'} %>
  <% else %>
  <%= will_paginate @trailers %>
  <% end %>
</div>  
<%end %>  
 <% @trailers.each do |trailer| %>
<img src="http://catalog.tadl.org/opac/extras/ac/jacket/medium/r/<%= trailer.record_id %>" style="float:left; max-width: 125px; margin: 10px;">
<div id="info_line_one">
  
<p>
  <span style="font-size: 15px;"><%= trailer.title %>,</span> Item Type: <%= trailer.item_type %>, Release Date: <%= trailer.release_date %>, Released By: <%= trailer.publisher %> </p>
</div>  
<p>Artist(s): <%= trailer.artist %> </p>
<p>Description: <%= truncate trailer.abstract, length: 300 %> </p>
<% if !trailer.track_list.empty? %>
<p>Track Listing: <%= trailer.track_list %></p>
<% end %>

<div id="trailer_<%= trailer.record_id %>">
<% if trailer.youtube_url? %>
<a onclick="show_trailer('<%= CGI.escapeHTML trailer.youtube_url %>')">Show Trailer</a> 

- Uploaded By: <%= trailer.user.username unless trailer.user_id.blank? %> 

<button onclick="delete_embed('<%= trailer.record_id %>', '<%= CGI.escapeHTML trailer.title %>', '<%= @current_page %>', '<%= @state %>', '<%= trailer.user.username unless trailer.user_id.blank? %>')">Delete Trailer</button> 
<% end %>
</div>  
<div id="edit_<%= trailer.record_id %>">
<% if !trailer.youtube_url %>  
  <a onclick="search_youtube('<%= CGI.escapeHTML trailer.title %>')">Search Youtube</a>
</br>
  Add Youtube URL: <input id="input_<%= trailer.record_id %>" type="text">
  <button onclick="check_for_embed('<%= trailer.record_id %>', '<%= CGI.escapeHTML trailer.title %>', '<%= @current_page %>', '<%= @state %>', '<%= current_user.username %>')">Submit</button>
<div id="not_found_<%= trailer.record_id %>">
<% if trailer.cant_find == true %>
Marked as Not Found  
<% else %>
<button onclick="mark_cant_find('<%= trailer.record_id %>', '<%= @current_page %>', '<%= @state %>')">Mark As Not Found</button>
<% end %>
</div>  
<% end %>
</div> 

<div id="error_<%= trailer.record_id %>">  
</div>


<div style="clear: both"></div>
    <% end %>
  <% if @state == 'solo' %>
<%else%>
<div id="paginate_bottom">
  <% if @state == 'queue' %>
  <%= will_paginate @trailers, :params => {:controller => 'main', :action => 'queue', :format => 'html'} %>
  <% else %>
  <%= will_paginate @trailers %>
  <% end %>
</div>  
<%end %>  
