<!DOCTYPE html>
<html>
<head>
  <title>TrailerTank</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <% if !current_user %>
   <%= flash[:message] %>
       <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
      <% else %>
 <div id="top">
  <div id="nav_bar">
    <ul>
    <li><a href="/main/queue">Queue</a></li>
    <li><a href="/main/cant_find">Not Found List</a></li>  
    <li><a href="/main/leaders">Leader Boards</a></li>
    <li> 
      <div id="search_div">  Search: <input id="search" type="text">
      <button onclick="search_by_title()">GO</button>
      </div> 
    </li>
    </ul>
  </div>
    <div id="login_box">
    
      <p><img src="<%= current_user.avatar %>"><%= current_user.username %>, Score: <span id="score"><%= current_user.score %></span> (<%= link_to "log out", destroy_user_session_path %>)</p>
  </div> 
</div> 
 
   
       <div style="clear: both"></div>  
 

<%= yield %>
  <% end %>

</body>
</html>
